* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(254,145,78);
  background: linear-gradient(0deg, rgba(254,145,78,1) 3%, rgba(0,0,0,1) 500px); */
  background: rgb(222,127,68);
background: linear-gradient(0deg, rgba(222,127,68,1) 0%, rgba(243,139,75,1) 3%, rgba(0,0,0,1) 500px);
  min-height: 100vh;
}


.container {
  padding: 40px 20px;
}

.hero {
  /* margin-top: 60px; */
  display: flex;
  justify-content: center;
}

.descricao {
  margin: 80px 0;
  display: flex;
  justify-content: center;
}
.descricao p {
  color: white;
  font-size: 25px;
  width: 889px;
  text-indent: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.social {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.social img {
  width: 60px;
}

.social img:hover {
  transform: scale(1.2);
  transition: ease-in-out 40ms;
}

.localizacao {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}